a {
    text-decoration: none;
}
#active {
    color:red;
}
.saw {
    color:grey;
}
h1 {
    font-size: 55px;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
}
h2{
    display:inline;
}
ol {
    border-right:1px solid #6b7af7; 
    width:110px;
    margin:0px;
    padding:20px;
}
body{
    margin:0;
}